<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/company.css"/>
		<link rel="stylesheet" type="text/css" href="css/company.css"/>
		<script src="js/jquery.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jquery.SuperSlide.2.1.1.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/index.js" type="text/javascript" charset="utf-8"></script>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	</head>
	<body>
		<div class="mobeilNav">
			<ul>
				<li>
					<a href="index.html">首页</a>
				</li>
				<li>
					<a href="company.html">公司简介</a>
				</li>
				<li>
					<a href="product.html">产品展示</a>
				</li>
				<li>
					<a href="news.html">新闻资讯</a>
				</li>
				<li>
					<a href="case.html">案例展示</a>
				</li>
				<li>
					<a href="contact.html">联系我们</a>
				</li>
			</ul>
		</div>
		<div id="warp">
			
		<!--	头部-->
			<div id="bg">
				<div id="pc-header">
					<div id="header">
						<div class="header">
							<div class="header_left">
								<a href="">北京宏达军工照明科技有限公司</a>
							</div>
							<div class="header_right">
								<ul>
									<li><a href="index.html">首页</a></li>
									<li><a href="company.html">公司简介</a></li>
									<li><a href="product.html">产品展示</a></li>
									<li><a href="news.html">新闻资讯</a></li>
									<li><a href="case.html">案例展示</a></li>
									<li><a href="contact.html">联系我们</a></li>
								</ul>
							</div>
							<div class="m-nav-btn">
								<span></span>
								<span></span>
								<span></span>

							</div>
						</div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			
			<div id="pc-content">
				<div class="content">
					<div class="content_left">
						<div class="div1">
							<p>| 公司简介 <img src="img/xingxing.png" style="margin-left: 30px;"/></p>
						</div>
						<div class="div2">
							<ul>
								<li >
									<a href="javascript:;" class="color">公司概述 <i></i></a>
								</li>
								<li >
									<a href="javascript:;" >企业文化 <i></i></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="content_con">
						<div class="content_right">
							<h6><small>公司概述</small></h6>
							<div class="p">
								<p>
									北京鸿达照明科技有限公司是一家生产、制造、贸 易为一体的成长型企业，致力于为中国煤炭行业、中石油、
									中石化、电力、冶金、铁路、船舶、场馆、部队、公安消防及大型化工企业等目标市场，提供“简单可 靠、节能环保”
									的产品和“物有所值、物超所值”的服务，提供专业化的照明解决方案和一揽子的系统照明服务。
								</p>
								<p>
									公司奉行“以市场为中心，以科技为先导，以质量为主线，以信誉为生命”的企业宗旨，立足本行业，不断向多元化，
									规摸化，集团化推进。
								</p>
								<p>
									面对新经济的挑战，公司全体员工正满怀信心，积极开拓，全面推进人才造就工程，形象塑造工程，质量升级工程，科技改善工程和市场拓展工
									程等五大基础工程，为把浩旺特建设成为技术领先，管理科学，规模宏大，效益一流的现代国际专业照明生产基地企业而努力奋斗。
								</p>
							</div>
							<div class="img">
								<img src="img/zhizhao.png"/>
							</div>
						</div>
						<div class="content_right">
							<h6><small>企业文化</small></h6>
							<div class="p">
								<p>
									北京鸿达照明科技有限公司是一家生产、制造、贸 易为一体的成长型企业，致力于为中国煤炭行业、中石油、
									中石化、电力、冶金、铁路、船舶、场馆、部队、公安消防及大型化工企业等目标市场，提供“简单可 靠、节能环保”
									的产品和“物有所值、物超所值”的服务，提供专业化的照明解决方案和一揽子的系统照明服务。
								</p>
								<p>
									公司奉行“以市场为中心，以科技为先导，以质量为主线，以信誉为生命”的企业宗旨，立足本行业，不断向多元化，
									规摸化，集团化推进。
								</p>
								<p>
									面对新经济的挑战，公司全体员工正满怀信心，积极开拓，全面推进人才造就工程，形象塑造工程，质量升级工程，科技改善工程和市场拓展工
									程等五大基础工程，为把浩旺特建设成为技术领先，管理科学，规模宏大，效益一流的现代国际专业照明生产基地企业而努力奋斗。
								</p>
							</div>
							<div class="img">
								<img src="img/zhizhao.png"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			
			<!--底部内容-->
			<div id="pc-footer">
				<div id="footer">
					<div class="footer">
						<p>Copyright © 2009-2017,All rights reserved</p>
						<a href="">北京宏达军工照明科技有限公司</a> <a href="http://www.rzxid.com"target="_blank">技术支持：郑州瑞之雪网络科技有限公司</a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
