<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="css/contact.css"/>
		<script src="js/jquery.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jquery.SuperSlide.2.1.1.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/index.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="mobeilNav">
			<ul>
				<li>
					<a href="index.html">首页</a>
				</li>
				<li>
					<a href="company.html">公司简介</a>
				</li>
				<li>
					<a href="product.html">产品展示</a>
				</li>
				<li>
					<a href="news.html">新闻资讯</a>
				</li>
				<li>
					<a href="case.html">案例展示</a>
				</li>
				<li>
					<a href="contact.html">联系我们</a>
				</li>
			</ul>
		</div>
		<div id="warp">
			
		<!--	头部-->
			<div id="bg">
				<div id="pc-header">
					<div id="header">
						<div class="header">
							<div class="header_left">
								<a href="">北京宏达军工照明科技有限公司</a>
							</div>
							<div class="header_right">
								<ul>
									<li><a href="index.html">首页</a></li>
									<li><a href="company.html">公司简介</a></li>
									<li><a href="product.html">产品展示</a></li>
									<li><a href="news.html">新闻资讯</a></li>
									<li><a href="case.html">案例展示</a></li>
									<li><a href="contact.html">联系我们</a></li>
								</ul>
							</div>
							<div class="m-nav-btn">
								<span></span>
								<span></span>
								<span></span>

							</div>
						</div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			
			<div id="pc-content">
				<div class="content">
					<div class="content_left">
						<div class="div1">
							<p>| 联系我们 <img src="img/xingxing.png" style="margin-left: 30px;"/></p>
						</div>
						<div class="div2">
							<ul>
								<li >
									<a href="javascript:;" class="color">联系方式 <i></i></a>
								</li>
								<li >
									<a href="javascript:;" >留言板 <i></i></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="content_con">
						<div class="content_right">
							<h6><small>联系方式</small></h6>
							<div class="p">
								<p>
									电话：13513877351
								</p>
								<p>
									邮箱：laksdhf@126.com
								</p>
								<p>
									地址: 郑州市管城区财信大厦402
								</p>
							</div>
							<div class="map">
								<div class="bu" style="width:800px;height:300px;border:#ccc solid 1px;" id="dituContent"></div>
							</div>
						</div>
						
						<div class="content_right">
							<h6><small>留言板</small></h6>
							<form action="">
							<div class="name">
								<lebel>用户名：</lebel><input type="text" placeholder="请输入用户名">
							</div>
							<div class="phone">
								<lebel>联系电话：</lebel><input type="text" placeholder="请输入电话">
							</div>
							<div class="email">
								<lebel>邮箱：</lebel><input type="text" placeholder="请输入邮箱">
							</div>
							<div class="text">
								<lebel>正文：</lebel> <textarea placeholder="请输入正文"></textarea>
							</div>
							<div class="button">
								<input type="button" name="" id="" value="提交留言" />
							</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			
			
			<!--底部内容-->
			<div id="pc-footer">
				<div id="footer">
					<div class="footer">
						<p>Copyright © 2009-2017,All rights reserved</p>
						<a href="">北京宏达军工照明科技有限公司</a> <a href="http://www.rzxid.com"target="_blank">技术支持：郑州瑞之雪网络科技有限公司</a>
					</div>
				</div>
			</div>
		<script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
		<script src="js/map.js"></script>
		</div>
	</body>
</html>
