<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/base.css"/>
		<link rel="stylesheet" type="text/css" href="css/index.css" />
		<script src="js/jquery.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jquery.SuperSlide.2.1.1.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/index.js" type="text/javascript" charset="utf-8"></script>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	</head>

	<body>
		<div class="mobeilNav">
			<ul>
				<li>
					<a href="index.html">首页</a>
				</li>
				<li>
					<a href="company.html">公司简介</a>
				</li>
				<li>
					<a href="product.html">产品展示</a>
				</li>
				<li>
					<a href="news.html">新闻资讯</a>
				</li>
				<li>
					<a href="case.html">案例展示</a>
				</li>
				<li>
					<a href="contact.html">联系我们</a>
				</li>
			</ul>
		</div>
		<div id="warp">
			<div id="bg">
				<div id="pc-header">
					<div id="header">
						<div class="header">
							<div class="header_left">
								<a href="">北京宏达军工照明科技有限公司</a>
							</div>
							<div class="header_right">
								<ul>
									<li>
										<a href="index.html">首页</a>
									</li>
									<li>
										<a href="company.html">公司简介</a>
									</li>
									<li>
										<a href="product.html">产品展示</a>
									</li>
									<li>
										<a href="news.html">新闻资讯</a>
									</li>
									<li>
										<a href="case.html">案例展示</a>
									</li>
									<li>
										<a href="contact.html">联系我们</a>
									</li>
								</ul>
							</div>
							<div class="m-nav-btn">
								<span></span>
								<span></span>
								<span></span>

							</div>
							
						</div>
					</div>
				</div>
			</div>

			<!--无缝滚动-->
			<div id="pc-bgcolor">
				<div id="bgcolor"></div>
				<div id="content">
					<div class="content_left"></div>
					<div class="content_mid">
						<div class="picMarquee-left">
							<div class="bd">
								<ul class="picList">
									<li>
										<div class="pic">
											<a href=""><img src="img/pic1.png" /></a>
										</div>
									</li>
									<li>
										<div class="pic">
											<a href=""><img src="img/pic2.png" /></a>
										</div>
									</li>
									<li>
										<div class="pic">
											<a href=""><img src="img/pic3.png" /></a>
										</div>

									</li>
									<li>
										<div class="pic">
											<a href=""><img src="img/pic4.png" /></a>
										</div>

									</li>
									<li>
										<div class="pic">
											<a href=""><img src="img/pic5.png" /></a>
										</div>

									</li>
									<li>
										<div class="pic">
											<a href=""><img src="img/pic6.png" /></a>
										</div>

									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>

			<!--底部内容-->
			<div id="pc-footer">
				<div id="footer">
					<div class="footer">
						<p>Copyright © 2009-2017,All rights reserved</p>
						<a href="">北京宏达军工照明科技有限公司</a>
						<a href="http://www.rzxid.com" target="_blank">技术支持：郑州瑞之雪网络科技有限公司</a>
					</div>
				</div>
			</div>
		</div>
	</body>

</html>