<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="css/news-xq.css"/>
		<script src="js/jquery.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jquery.SuperSlide.2.1.1.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/index.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="mobeilNav">
			<ul>
				<li>
					<a href="index.html">首页</a>
				</li>
				<li>
					<a href="company.html">公司简介</a>
				</li>
				<li>
					<a href="product.html">产品展示</a>
				</li>
				<li>
					<a href="news.html">新闻资讯</a>
				</li>
				<li>
					<a href="case.html">案例展示</a>
				</li>
				<li>
					<a href="contact.html">联系我们</a>
				</li>
			</ul>
		</div>
		<div id="warp">
			
		<!--	头部-->
			<div id="bg">
				<div id="pc-header">
					<div id="header">
						<div class="header">
							<div class="header_left">
								<a href="">北京宏达军工照明科技有限公司</a>
							</div>
							<div class="header_right">
								<ul>
									<li><a href="index.html">首页</a></li>
									<li><a href="company.html">公司简介</a></li>
									<li><a href="product.html">产品展示</a></li>
									<li><a href="news-xq.html">新闻资讯</a></li>
									<li><a href="case.html">案例展示</a></li>
									<li><a href="contact.html">联系我们</a></li>
								</ul>
							</div>
							<div class="m-nav-btn">
								<span></span>
								<span></span>
								<span></span>

							</div>
						</div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			
			<div id="pc-content">
				<div class="content">
					<div class="content_left">
						<div class="div1">
							<p>| 新闻资讯 <img src="img/xingxing.png" style="margin-left: 30px;"/></p>
						</div>
						<div class="div2">
							<ul>
								<li >
									<a href="javascript:;" class="color">公司新闻 <i></i></a>
								</li>
								<li >
									<a href="javascript:;" >媒体报道<i></i></a>
								</li>
								<li >
									<a href="javascript:;" >业界动态 <i></i></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="content_con">
						<div class="content_right">
							<h6>照明LED路灯照亮古城扬州角落</h6>
							<span>2017-05-20</span>
							<div>
								<p>
									为了使企业全体员工形成对企业愿景、企业使命以及核心价值观等企业文化理念的统一认识，加深理解并逐步全面认同与接受。
									2007年7月28日，XXX照明照明品牌战略及CI推广培训正式启动。
								</p>
								<p>
									当天下午，XXX照明照明品牌战略及CI推广培训在南京奥体紫鑫中华广场开启了第一课。照明技术、国内营销、研发中心
									三大事业部全体人员参加了此次培训。主讲人XXX照明照明品牌总监钱xxx先生就公司的品牌运作、未来展望等做了总体介绍
									，他的精彩讲解让大家清楚了解了公司的发展战略、核心价值和经营理念，对公司企业文化有了更深层的理解。同时品牌经
									理xxx先生就集团VI系统的有关实施细则与大家进行了解释和交流。
								</p>
							</div>
							
						</div>
						<div class="content_right">
							<h6>照明LED路灯照亮古城扬州角落</h6>
							<span>2017-05-20</span>
							<div>
								<p>
									为了使企业全体员工形成对企业愿景、企业使命以及核心价值观等企业文化理念的统一认识，加深理解并逐步全面认同与接受。
									2007年7月28日，XXX照明照明品牌战略及CI推广培训正式启动。
								</p>
								<p>
									当天下午，XXX照明照明品牌战略及CI推广培训在南京奥体紫鑫中华广场开启了第一课。照明技术、国内营销、研发中心
									三大事业部全体人员参加了此次培训。主讲人XXX照明照明品牌总监钱xxx先生就公司的品牌运作、未来展望等做了总体介绍
									，他的精彩讲解让大家清楚了解了公司的发展战略、核心价值和经营理念，对公司企业文化有了更深层的理解。同时品牌经
									理xxx先生就集团VI系统的有关实施细则与大家进行了解释和交流。
								</p>
							</div>
							
						</div>
						<div class="content_right">
							<h6>照明LED路灯照亮古城扬州角落</h6>
							<span>2017-05-20</span>
							<div>
								<p>
									为了使企业全体员工形成对企业愿景、企业使命以及核心价值观等企业文化理念的统一认识，加深理解并逐步全面认同与接受。
									2007年7月28日，XXX照明照明品牌战略及CI推广培训正式启动。
								</p>
								<p>
									当天下午，XXX照明照明品牌战略及CI推广培训在南京奥体紫鑫中华广场开启了第一课。照明技术、国内营销、研发中心
									三大事业部全体人员参加了此次培训。主讲人XXX照明照明品牌总监钱xxx先生就公司的品牌运作、未来展望等做了总体介绍
									，他的精彩讲解让大家清楚了解了公司的发展战略、核心价值和经营理念，对公司企业文化有了更深层的理解。同时品牌经
									理xxx先生就集团VI系统的有关实施细则与大家进行了解释和交流。
								</p>
							</div>
							
						</div>
					</div>
				</div>
			</div>
			
			
			<!--底部内容-->
			<div id="pc-footer">
				<div id="footer">
					<div class="footer">
						<p>Copyright © 2009-2017,All rights reserved</p>
						<a href="">北京宏达军工照明科技有限公司</a> <a href="http://www.rzxid.com"target="_blank">技术支持：郑州瑞之雪网络科技有限公司</a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
