<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="css/product-xq.css"/>
		<script src="js/jquery.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jquery.SuperSlide.2.1.1.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/index.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="mobeilNav">
			<ul>
				<li>
					<a href="index.html">首页</a>
				</li>
				<li>
					<a href="company.html">公司简介</a>
				</li>
				<li>
					<a href="product.html">产品展示</a>
				</li>
				<li>
					<a href="news.html">新闻资讯</a>
				</li>
				<li>
					<a href="case.html">案例展示</a>
				</li>
				<li>
					<a href="contact.html">联系我们</a>
				</li>
			</ul>
		</div>
		<div id="warp">
			
		<!--	头部-->
			<div id="bg">
				<div id="pc-header">
					<div id="header">
						<div class="header">
							<div class="header_left">
								<a href="">北京宏达军工照明科技有限公司</a>
							</div>
							<div class="header_right">
								<ul>
									<li><a href="index.html">首页</a></li>
									<li><a href="company.html">公司简介</a></li>
									<li><a href="product.html">产品展示</a></li>
									<li><a href="news.html">新闻资讯</a></li>
									<li><a href="case.html">案例展示</a></li>
									<li><a href="contact.html">联系我们</a></li>
								</ul>
							</div>
							<div class="m-nav-btn">
								<span></span>
								<span></span>
								<span></span>

							</div>
						</div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			
			<div id="pc-content">
				<div class="content">
					<div class="content_left">
						<div class="div1">
							<p>| 产品展示 <img src="img/xingxing.png" style="margin-left: 20px;"/></p>
						</div>
						<div class="div2">
							<ul>
								<li>
									<a href="javascript:;" class="color ddddd">固定防爆类 <i></i></a>
									<ul style="display: none;" class="bbbbb">
										<li><a href="javascript:;"class="color">防爆泛光灯</a></li>
										<li><a href="javascript:;">防爆泛光灯</a></li>
										<li><a href="javascript:;">防爆泛光灯</a></li>
									</ul>
								</li>
								<li>
									<a href="javascript:;" class="ddddd">移动防爆类 <i></i></a>
									<ul style="display: none;" class="bbbbb">
										<li><a href="javascript:;"class="color">防爆泛光灯</a></li>
										<li><a href="javascript:;">防爆泛光灯</a></li>
										<li><a href="javascript:;">防爆泛光灯</a></li>
									</ul>
								</li>
								<li>
									<a href="javascript:;" class="ddddd">固定专业类 <i></i></a>
									<ul style="display: none;" class="bbbbb">
										<li><a href="javascript:;"class="color">防爆泛光灯</a></li>
										<li><a href="javascript:;">防爆泛光灯</a></li>
										<li><a href="javascript:;">防爆泛光灯</a></li>
									</ul>
								</li>
								<li>
									<a href="javascript:;" class="ddddd">移动专业类 <i></i></a>
									<ul style="display: none;" class="bbbbb">
										<li><a href="javascript:;"class="color">防爆泛光灯</a></li>
										<li><a href="javascript:;">防爆泛光灯</a></li>
										<li><a href="javascript:;">防爆泛光灯</a></li>
									</ul>
								</li>
								<li>
									<a href="javascript:;" class="ddddd">防爆电器类 <i></i></a>
									<ul style="display: none;" class="bbbbb">
										<li><a href="javascript:;"class="color">防爆泛光灯</a></li>
										<li><a href="javascript:;">防爆泛光灯</a></li>
										<li><a href="javascript:;">防爆泛光灯</a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
					<div class="content_con">
						<div class="content_right">
							<h6><small>固定防爆类>防爆泛光灯类>全方位移动照明工作灯</small></h6>
							<div class="xq">
								<div class="xq_left">
									<img src="img/xq.png"/>
								</div>
								<div class="xq_right">
									<h5>全方位移动照明工作灯</h5>
									<span>2017/05/22发布</span>
									<p>
										灯盘由两个400W高压钠灯头或金卤灯头组成，可根据现场需要将灯头向同一方向或两个不同方向照明，
										也可将每个灯头单独做上下、左右大角度调节旋转照明；整体照明远近兼顾，泛光效果好，照明亮度高，
										灯泡寿命长；<br />
										灯盘采用伸缩气缸作为升降调节方式，使用电动气泵可快速控制伸缩气缸的升降，最大升起高度为4.5米；
										上下转动灯头可调节光束照射角度，灯光覆盖半径达到100-150m；
									</p>
								</div>
							</div>
						</div>
						<div class="content_right">2
							<h6><small>固定防爆类>防爆泛光灯类>全方位移动照明工作灯</small></h6>
							<div class="xq">
								<div class="xq_left">
									<img src="img/xq.png"/>
								</div>
								<div class="xq_right">
									<h5>全方位移动照明工作灯</h5>
									<span>2017/05/22发布</span>
									<p>
										灯盘由两个400W高压钠灯头或金卤灯头组成，可根据现场需要将灯头向同一方向或两个不同方向照明，
										也可将每个灯头单独做上下、左右大角度调节旋转照明；整体照明远近兼顾，泛光效果好，照明亮度高，
										灯泡寿命长；<br />
										灯盘采用伸缩气缸作为升降调节方式，使用电动气泵可快速控制伸缩气缸的升降，最大升起高度为4.5米；
										上下转动灯头可调节光束照射角度，灯光覆盖半径达到100-150m；
									</p>
								</div>
							</div>
						</div>
						
						<div class="content_right">3
							<h6><small>固定防爆类>防爆泛光灯类>全方位移动照明工作灯</small></h6>
							<div class="xq">
								<div class="xq_left">
									<img src="img/xq.png"/>
								</div>
								<div class="xq_right">
									<h5>全方位移动照明工作灯</h5>
									<span>2017/05/22发布</span>
									<p>
										灯盘由两个400W高压钠灯头或金卤灯头组成，可根据现场需要将灯头向同一方向或两个不同方向照明，
										也可将每个灯头单独做上下、左右大角度调节旋转照明；整体照明远近兼顾，泛光效果好，照明亮度高，
										灯泡寿命长；<br />
										灯盘采用伸缩气缸作为升降调节方式，使用电动气泵可快速控制伸缩气缸的升降，最大升起高度为4.5米；
										上下转动灯头可调节光束照射角度，灯光覆盖半径达到100-150m；
									</p>
								</div>
							</div>
						</div>
						
						<div class="content_right">4
							<h6><small>固定防爆类>防爆泛光灯类>全方位移动照明工作灯</small></h6>
							<div class="xq">
								<div class="xq_left">
									<img src="img/xq.png"/>
								</div>
								<div class="xq_right">
									<h5>全方位移动照明工作灯</h5>
									<span>2017/05/22发布</span>
									<p>
										灯盘由两个400W高压钠灯头或金卤灯头组成，可根据现场需要将灯头向同一方向或两个不同方向照明，
										也可将每个灯头单独做上下、左右大角度调节旋转照明；整体照明远近兼顾，泛光效果好，照明亮度高，
										灯泡寿命长；<br />
										灯盘采用伸缩气缸作为升降调节方式，使用电动气泵可快速控制伸缩气缸的升降，最大升起高度为4.5米；
										上下转动灯头可调节光束照射角度，灯光覆盖半径达到100-150m；
									</p>
								</div>
							</div>
						</div>
						
						<div class="content_right">
							5<h6><small>固定防爆类>防爆泛光灯类>全方位移动照明工作灯</small></h6>
							<div class="xq">
								<div class="xq_left">
									<img src="img/xq.png"/>
								</div>
								<div class="xq_right">
									<h5>全方位移动照明工作灯</h5>
									<span>2017/05/22发布</span>
									<p>
										灯盘由两个400W高压钠灯头或金卤灯头组成，可根据现场需要将灯头向同一方向或两个不同方向照明，
										也可将每个灯头单独做上下、左右大角度调节旋转照明；整体照明远近兼顾，泛光效果好，照明亮度高，
										灯泡寿命长；<br />
										灯盘采用伸缩气缸作为升降调节方式，使用电动气泵可快速控制伸缩气缸的升降，最大升起高度为4.5米；
										上下转动灯头可调节光束照射角度，灯光覆盖半径达到100-150m；
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			
			<!--底部内容-->
			<div id="pc-footer">
				<div id="footer">
					<div class="footer">
						<p>Copyright © 2009-2017,All rights reserved</p>
						<a href="">北京宏达军工照明科技有限公司</a> <a href="http://www.rzxid.com"target="_blank">技术支持：郑州瑞之雪网络科技有限公司</a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
