*{padding: 0px;margin: 0px;font-family: "微软雅黑";}
img{border: 0px;}
ul,li{list-style: none;}
a{text-decoration: none;}
.clear{clear: both;}


#warp{
	width: 100%;
	height: auto;
	overflow: hidden;
}
#bg{
	width: 1920px;
	height: 430px;
	margin: 0px auto;
	background: url(../img/banner2.png) no-repeat center center;
	background-size: 1920px 430px;
	overflow: hidden;
}
#pc-header{
	width: 100%;
	height: 130px;
	position: relative;
}
#pc-header #header{
	width: 1920px;
	height: 130px;
	background: #24204c;
	opacity: 0.8;
	position: absolute;
	left: 50%;
	margin-left: -960px;
}
#pc-header #header .header{
	width: 1200px;
	height: 130px;
	margin: 0px auto;
}
#pc-header #header .header .header_left{
	width: 480px;
	height: 130px;
	float: left;
}
#pc-header #header .header .header_left a{
	display: block;
	height: 130px;
	line-height: 130px;
	color: #fff;
	font-size: 34px;
}
#pc-header #header .header .header_right{
	width: 550px;
	height: 130px;
	float: right;
}
#pc-header #header .header .header_right ul li{
	float: left;
	margin-left: 25px;
}
#pc-header #header .header .header_right ul li a{
	height: 130px;
	line-height: 130px;
	font-size: 18px;
	display: block;
	float: left;
	color: #fff;
}
#pc-header #header .header .header_right ul li a:hover{
	color: red;
}


#pc-content{
	width: 100%;
	height: auto;
	margin: 0px auto;
}
#pc-content .content{
	width: 1200px;
	height: 800px;
	margin: 0px auto;
	margin-top: 20px;
}
#pc-content .content .content_left{
	float: left;
	width: 230px;
	height: 750px;
}
#pc-content .content .content_left .div1{
	width: 230px;
	height: 90px;
	background: #d50000;
	line-height: 90px;
}
#pc-content .content .content_left .div1 p{
	width: 200px;
	font-size: 20px;
	color: #fff;
	margin-left: 30px;
	display: inline-block;
}
#pc-content .content .content_left .div1 p img{
	width: 25px;
	height: 25px;
	float: right;
	margin-top: 30px;
	margin-right: 20px;
}

#pc-content .content .content_left .div2{
	width: 230px;
	height: auto;
	margin-top: 20px;
}
#pc-content .content .content_left .div2 ul li{
	background: #dedede;
	width: 230px;
	height: 60px;
	margin-bottom: 5px;
}
#pc-content .content .content_left .div2  .color{
	background: #eb2824;
	color: white;
}
#pc-content .content .content_left .div2  a:hover{
	background: #eb2824;
	color: white;
}
#pc-content .content .content_left .div2 ul li a{
	background: #dedede;
	width: 200px;
	height: 60px;
	display: block;
	color:#4C4C4C;
	font-size: 16px;
	font-weight: bold;
	line-height:60px ;
	padding-left: 30px;
}
#pc-content .content .content_left .div2 ul li a i{
	display:inline-block;
	width: 25px;
	height: 16px;
	float: right;
	margin-top: 18px;
	margin-right: 20px;
	background: url(../img/jiantou1.png)no-repeat;
}
#pc-content .content .content_left .div2 ul li a.color i{
	display:inline-block;
	width: 25px;
	height: 16px;
	float: right;
	margin-right: 20px;
	background: url(../img/jiantou2.png)no-repeat;
}
#pc-content .content .content_left .div2 ul li a:hover i{
	display:inline-block;
	width: 25px;
	height: 16px;
	float: right;
	margin-right: 20px;
	background: url(../img/jiantou2.png)no-repeat;
}
#pc-content .content .content_con{
	width: 910px;
	height: 750px;
	float: right;
	position:relative;
}
#pc-content .content .content_con .content_right{
	width: 910px;
	height: 750px;
	position:absolute;
	top:0;
	left:0;
}
#pc-content .content .content_right h6{
	padding: 20px 0px ;
	font-size: 20px;
	border-bottom: 1px solid red;
	
}
#pc-content .content .content_right h6 small{
	margin-left: 20px;
}
#pc-content .content .content_right p{
	padding: 0px 10px;
	font-size: 14px;
	color: #181818;
	text-indent: 2em;
	line-height: 25px;
	margin-top: 30px;
}
#pc-content .content .content_right .img{
	margin-top: 30px;
	margin-left: 10px;
}

#pc-footer{
	width: 100%;
	height: 130px;
	position: relative;
}
#pc-footer #footer{
	width: 1920px;
	height: 130px;
	position: absolute;
	left: 50%;
	margin-left: -960px;
	background: #1f2b3d;
}
#pc-footer #footer .footer{
	width: 1200px;
	height: 130px;
	margin: 0px auto;
	text-align: center;
}
#pc-footer #footer .footer p{
	margin-top: 50px;
	color: #fff;
	font-size: 14px;
}
#pc-footer #footer .footer a{
	color: #fff;
	font-size: 14px;
	display: inline-block;
	margin-right: 20px;
}
#pc-footer #footer .footer a:hover{
	color: red;
}

.mobeilNav{
	position: fixed;
	top: 45px;
	display: none;
	right: 0;
	z-index: 99;
}
.m-nav-btn{
	display: none;
}





@media only screen and (min-width: 320px) and (max-width: 640px) {
	html,body{
		font-size: 62.5%;
		
	}
	#pc-header{
		opacity: 1;
		position: fixed;
		z-index: 10;
		top: 0;
		left: 0;
	}
	#warp{
		width: 100%;
		height: 100%;
		
		position: relative;
	}
	#pc-header #header .header{
		width: 100%;
		opacity: 1;
	}
	#bg{
		width: 100%;
	}
	#pc-header{
		opacity: 1;
		height: 45px;
	}
	#pc-header #header{
		opacity: 1;
		margin: 0;
		left: 0;
		height: 45px;
	}
	#pc-header #header .header{
		opacity: 1;
		height: 45px;
	}
	.mobeilNav{
		opacity: 1;
		width: 40%;
		text-align: center;
		background:#080808 ;
		height: auto;
	}
	
	.mobeilNav ul li a{
		display: block;
		font-size: 1.6rem;
		height: 20px;
		padding: 10px 0px;
		margin-top: 20px;
		line-height: 20px;
		width: 100%;
		background: #D50000;
		color: #fff;
		text-align: center;
		color: white;
		
	}
	#pc-header #header .header .header_right{
		height: 45px;
		display: none;
	}
	#pc-header #header{
		width: 100%;
		position: relative;
		font-size: 1.6rem;
	}
	#pc-header #header .header .header_left a{
		font-size: 1.6rem;
		line-height: 45px;
	}
	
	#pc-header #header .header .header_right{
		position: absolute;
		right:0px ;
		width: 100%;
		float: none;
	}
	
	#pc-header #header .header .header_left{
		opacity: 1;
		height: 45px;
		float: none;
		width: 80%;
	}
	#pc-header #header .header .header_left a{
		font-size: 1.6rem;
		margin-left: 5px;
		height: 45px;
	}
	.m-nav-btn{
		position: fixed;
		top: 10px;
		right: 10px;
		float: right;
		display: block;
		background: red;
	}
	
	.m-nav-btn span{
		display: block;
		width: 30px;
		height: 5px;
		margin-top: 5px;
		background: black;
	}
	
	
	#pc-content{
		width: 100%;
		height: auto;
	}
	#pc-content .content{
		width: 100%;
		height: auto;
	}
	
	#pc-content .content .content_left{
		width: 100%;
		height: auto;
		float: none;
	}
	
	#pc-content .content .content_left .div1{
		width: 100%;
		height: auto;
	}
	#pc-content .content .content_left .div1 p{
		width: 100%;
		height: auto;
	}
	#pc-content .content .content_left .div1 p img{
		margin-right: 10%;
	}
	#pc-content .content .content_left .div2{
		width: 100%;
		height: auto;
	}
	#pc-content .content .content_left .div2 ul li{
		width: 100%;
		height: auto;
	}
	#pc-content .content .content_left .div2 ul li a{
		width: 100%;
		height: auto;
	}
	#pc-content .content .content_left .div2 ul li a i{
		margin-right: 10%;
	}
	#pc-content .content .content_left .div2 ul li a i{
		margin-right: 10%;
	
	}
	#pc-content .content .content_left .div2 ul li a.color i{
		margin-right: 10%;
	}
	#pc-content .content .content_left .div2 ul li a:hover i{
	
		margin-right:10%;
	}
	#pc-content .content .content_con{
		width: 100%;
		min-height: 750px;
		height: auto;
		float: none;
		
	}
	#pc-content .content .content_con .content_right{
		float: none;
		width: 100%;
		height: auto;
		
	}
	#pc-content .content .content_con .content_right h6{
		width: 100%;
		height: auto;
		float: none;
	}
	#pc-content .content .content_con .content_right .p{
		width: 100%;
		height: auto;
		float: none;
	}
	#pc-content .content .content_con .content_right .p p{
		width: 100%;
		padding: 0px 10px;
		float: none;
		box-sizing: border-box;
	}
	#pc-content .content .content_con .content_right .img{
		width: 100%;
		margin-top: 10px;
		height: auto;
		float: none;
		margin-left: 0;
		padding: 0;
	}
	
	#pc-content .content .content_con .content_right .img img{
		width: 100%;
		float: none;
	}
	
	
	
	
	
	#pc-bgcolor {
		position: absolute;
		top: 70%;
		
	}
	
	
	
	
	
	
	#pc-footer{
	
		margin-top: 100px;
		width: 100%;
		
	}
	#pc-footer .footer a{
		width: 100%;
	}
	#pc-footer #footer .footer p{
		margin-top: 30px;
	}
}
